    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <h1>home page <%= 5+5  %> </h1> 
        <h2> <%= 'helloworld'.toUpperCase() %></h2>
        <!-- here the <%=  %> is used as the actuall js -->

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, asperiores! Quam soluta dolor vitae molestias modi. Exercitationem, repudiandae impedit quam ab, odit libero maxime autem quia et esse aut beatae.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et similique deleniti, quidem dicta non quis libero debitis. Quisquam pariatur necessitatibus sit? Inventore assumenda eos officiis atque voluptatem porro sint! Iure!
        Delectus explicabo sapiente, ad rerum nam officia, id quaerat odio magnam itaque, repudiandae earum error quisquam at. Consequatur, sunt, modi commodi corporis perspiciatis facere blanditiis culpa eos nesciunt recusandae ex!
        Quos exercitationem est natus pariatur, architecto voluptatum iure consequatur, numquam in quisquam rerum quasi vel voluptate cumque, aliquid saepe vero officia. Quo quae nemo quisquam nulla quia expedita in libero?
        Perspiciatis itaque incidunt in, fuga reprehenderit labore? Totam, porro. Eum iste beatae dignissimos optio non quidem perspiciatis sequi mollitia vel pariatur, dolore nesciunt voluptate at suscipit consequuntur quibusdam, eaque harum.
        Officia distinctio inventore aspernatur temporibus incidunt culpa ullam, odio nesciunt, ex voluptas, deserunt laudantium. Distinctio sed repellendus inventore dolorem, eum animi minus ducimus. Quidem dolorem reiciendis, nihil quod ab voluptate?</p>
    </body>
    </html>