<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments show</title>
</head>
<body>
    <h1>the comments are as given below:</h1>

    <ul>
        <% for(let c of comments) { %>
            <li>
                <p>
                    <%= c.comment %> <b> <%= c.name %></b>
                </p>
            </li>
        <% } %>
    </ul>
</body>
</html>