<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form to add the comments</title>
</head>

<body>
    <h2>fill the form</h2>

    <form action="/comments" method="post"> 
        <section>
            <label for="name">name:</label>
            <input type="text" name="name" id="name">

        </section>
        <section>
            <label for="comment">comment:</label>
            <br>
            <textarea name="comment" id="comment" rows="10" cols="20"></textarea>
        </section>
        <button>submit</button>
    </form>
</body>

</html>